* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  button{
    border: none;
    background: none;
  }
  button:hover{
    cursor: pointer;
  }
  ul{
    list-style: none;
  }
  body{
    background-color: #fafafa;
  }